////
/// @group base-links
/// @access public
/// @name base/_links.scss
/// @author Daniel Wetting Johnsrud
////

a {
    color: var(--color-accent);
    outline: 0;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        color: var(--color-primary);
    }
}

header,
nav {
    a {
        &:hover,
        &:focus,
        &:active {
            color: white;
            -webkit-transition: color 0.4s ease-out;
            -moz-transition: color 0.4s ease-out;
            -o-transition: color 0.4s ease-out;
            transition: color 0.4s ease-out;
        }
    }
}

header {
    a {
        color: #93a9b6;
        &:hover,
        &:focus,
        &:active {
            color: var(--color-primary);
            -webkit-transition: color 0.4s ease-out;
            -moz-transition: color 0.4s ease-out;
            -o-transition: color 0.4s ease-out;
            transition: color 0.4s ease-out;
        }
    }
}

footer {
    a {
        color: var(--color-accent);
    }
}
