////
/// @group style
/// @access public
/// @name style.scss
/// @author Daniel Wetting Johnsrud
////

:root {
    --color-primary: #182b3a;
    --color-secondary: #465561;
    --color-accent: #2fb4d3;
}

/*///////////////////////////////////////////////////
//  Vendor
//  -------------------------
//  Import vendor-files
*/ //////////////////////////////////////////////////
@import "vendors/manifest";
/*/////////////////////////////////////////////////
//  UTILITIES
//  -------------------------
//  Mixins, functions, placeholders and variables
*/ ////////////////////////////////////////////////
@import "utilities/manifest";

/*/////////////////////////////////////////////////
//  BASE
//  -------------------------
//  Resets, typography, colors and forms
*/ ////////////////////////////////////////////////
@import "base/manifest";

/*/////////////////////////////////////////////////
//  COMPONENTS
//  -------------------------
//  All components
*/ ////////////////////////////////////////////////
@import "components/manifest";

/*/////////////////////////////////////////////////
//  LAYOUT
*/ ////////////////////////////////////////////////
@import "layout/manifest";

/*/////////////////////////////////////////////////
//  PAGES
*/ ////////////////////////////////////////////////
@import "pages/manifest";
