////
/// @group components-hero
/// @access public
/// @name components/_hero.scss
/// @author Daniel Wetting Johnsrud
////

.hero {
    @apply z-0;
    position: relative;
    overflow: hidden;
    height: 200px;
    background: url("/images/layout/heroFront.jpg") no-repeat center;
    background-size: cover;
    filter: saturate(1) grayscale(30%) opacity(0.9);
    color: white;

    @screen md {
        height: 250px;
    }
    @screen lg {
        height: 400px;
    }
}
