////
/// @group utilities-mixins
/// @access public
/// @name utilities/_mixins.scss
/// @author Daniel Wetting Johnsrud
////

/// @example scss
///     div {
///         @include text-shorten();
///     }
///
///
/// @example css
///     div {
///         overflow: hidden;
///         text-overflow: ellipsis;
///         white-space: nowrap;
///     }

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/// @example scss
///     body {
///         @include font-size(16);
///     }
///
///     p {
///         @include font-size(12, 10);
///     }
///
///
/// @example css
///      body {
///          font-size: 16px;
///          font-size: 1rem;
///      }

@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}
